/node_modules
/public/css
/public/js
/public/hot
/public/storage/debugbar
/public/storage/framework
/public/storage/logs
/storage/*.key
/vendor
.env
.env.backup
.DS_Store
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
